{% extends "@layout.html" %}

{% block content %}

<div class="container px-5 py-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">O platformě Dreamify</h3>
            <p class="mt-4">Dreamify je webová platforma určená pro komunitní financování realizace lidských
                snů. Naší misí je propojit snílky s lidmi, kteří jim mohou pomoci jejich sny uskutečnit. Ať už jde o
                osobní, profesní, nebo společenské cíle, Dreamify je tu pro všechny, kteří mají odvahu snít.</p>
            <h5 class="mt-4">Jak Dreamify funguje?</h5>
            <p>Dreamify poskytuje snadnou a přehlednou platformu, kde mohou uživatelé:</p>
            <ol>
                <li class="py-1"><strong>Sdílet své sny:</strong> Každý uživatel má možnost vytvořit vlastní profil, kde může
                    detailně popsat svůj sen, důvody proč je pro něj důležitý a jaké kroky jsou potřeba k jeho
                    realizaci.
                </li>
                <li class="py-1"><strong>Podpořit ostatní:</strong> Uživatelé mohou procházet různé projekty, sledovat jejich pokrok
                    a přispívat finančně nebo jinak.
                </li>
                <li class="py-1"><strong>Spojit se s komunitou:</strong> Dreamify je také místem pro budování komunit. Uživatelé
                    mohou diskutovat o svých snech, sdílet rady, zkušenosti a inspirovat se navzájem. Každý sen má svůj
                    příběh a každá podpora má svůj význam.
                </li>
            </ol>

            <h5 class="mt-4">Proč si vybrat Dreamify?</h5>
            <ul>
                <li class="py-1"><strong>Transparentnost:</strong> Všechny projekty na Dreamify jsou pečlivě monitorovány, aby byla
                    zajištěna jejich autentičnost a serióznost. Uživatelé mohou sledovat přesné využití jejich příspěvků
                    a vidět konkrétní dopady své pomoci.
                </li>
                <li class="py-1"><strong>Podpora rozmanitosti:</strong> Dreamify vítá sny všech velikostí a tvarů. Ať už je vaším
                    snem založit komunitní zahradu, napsat knihu, začít podnikat nebo zorganizovat charitativní akci,
                    Dreamify je tu pro vás.
                </li>
                <li class="py-1"><strong>Jednoduchost a přístupnost:</strong> Naše platforma je navržena tak, aby byla uživatelsky
                    přívětivá a intuitivní. Registrace, vytváření projektů a přispívání je rychlé a jednoduché.
                </li>
            </ul>
            <p class="text-center my-5"><strong>Připojte se k nám a staňte se součástí Dreamify – místa, kde se sny
                stávají realitou.</strong></p>
        </div>
    </div>
</div>

{% endblock %}