{% extends "@layout.html" %}

{% block content %}

<div class="container px-5 py-5">
    <div class="row mb-4">
        <div class="col-12">
            <a href="/dreams/{{ dream._id }}" class="text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
                Zpět na detail
            </a>
        </div>
    </div>

    <h3 class="mb-3 text-center">Přispět na projekt: {{ dream.name }}</h3>
    <div class="text-center mb-5">
        Autor: <span class="fw-medium">{{ dream.author.author_name }}</span>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">

            <div class="card mb-5">
                <div class="card-body p-5">
                    <h5 class="card-title mb-5">Zadejte výši přispěvku</h5>

                    <div class="">
                        <form action="/dreams/{{ dream._id }}/contribute" method="post">
                            <label for="contribution" class="form-label">Výše příspěvku v Kč</label>
                            <div class="d-flex flex-row">
                               <div class="input-group me-4">
                                   <span class="input-group-text" id="fund">Kč</span>
                                   <input id="contribution" type="number" name="contribution" class="form-control form-control-lg" aria-label="contribution" aria-describedby="contribution" min="1" required>

                               </div>
                               <button type="submit" class="btn btn-primary px-5">Přispět</button>
                           </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
