{% extends "@layout.html" %}

{% block content %}

<section class="bg-white bg-gradient">
    <div class="container px-5 py-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 col-md-6 text-dark">
                <h1 class="text-primary fw-bold py-3 font-monospace">dreamify</h1>
                <div class="mt-3 lh-lg">
                    <p class="fw-medium">
                        Vítejte na Dreamify - jediném místě na světě, kde se sny stávají realitou!<br>
                    </p>
                    <p>
                        Společně tvoříme komunitu, která proměňuje sny v životní příběhy.
                        Podpořte realizaci lidských snů a přidejte se k nám na cestě k jejich splnění.
                    </p>
                </div>
                <a href="/new-dream" class="btn btn-primary mt-5 btn-lg px-5 py-3">Splň si svůj sen</a>
            </div>
            <div class="col-lg-6 col-md-6">
                <img style="width:110%;" class="d-block m-auto" src="/img/crowdfunding2.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}
