{% extends "@layout.html" %}

{% block content %}

<div class="container px-5 py-5">
    <div class="row mb-4">
        <div class="col-12">
            <a href="/dreams" class="text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
                Zpět na seznam snů
            </a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            <h3>{{ dream.name }}</h3>
            <div class="py-2">
                Autor: <span class="fw-medium">{{ dream.author.author_name }}</span>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <p>{{ dream.summary }}</p>
        </div>
    </div>

    <div class="row g-3 mb-5">
        {% if dream.photos.length > 0 %}
        <div class="col-12 col-md-6">
            <div id="carouselExample" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    {% for photo in dream.photos %}
                    <div class="carousel-item {% if loop.first%} active {%endif%}">
                        <div class="d-flex justify-content-center img-fluid">
                            <img src="/uploads/dreams/{{ photo.name }}" class="d-block" alt="..." style="max-width: 500px; max-height: 500px">
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        {% endif %}
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <div class="">Vybráno</div>
                <div class="fw-bolder fs-3">
                    <span>{{ dream.pledged }}</span>
                    <span>Kč</span>
                </div>
                <div class="fw-medium">
                    <span>z</span>
                    <span>{{ dream.goal }}</span>
                    <span>Kč</span>
                </div>
            </div>
            <div class="mb-3">
                <div class="">Přispělo</div>
                <div class="fw-medium fs-4">
                    <span>X</span>
                    <span>lidí</span>
                </div>
            </div>
            <div class="mb-4">
                <div>Zbývá</div>
                <div class="fw-medium fw-medium fs-4">
                    <span>{{ dream.dateDiff }}</span>
                    <span>dnů</span>
                </div>
            </div>

            <form class="row row-cols-lg-auto gx-3 align-items-center">
                <div class="col-auto">
                    <div class="input-group">
                        <span class="input-group-text" id="fund">Kč</span>
                        <input type="text" class="form-control form-control-lg" placeholder="" aria-label="fund" aria-describedby="fund">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-lg px-5 fw-medium">Přispět</button>
                </div>
            </form>

        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active text-dark" id="nav-description-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description"
                            aria-selected="true">O čem sním
                    </button>
                    <button class="nav-link text-dark" id="nav-reviews-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-funders" type="button" role="tab" aria-controls="nav-funders"
                            aria-selected="false">Příspěvatelé
                    </button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active pt-4 px-3" id="nav-description" role="tabpanel"
                     aria-labelledby="nav-description" tabindex="0">
                    <p>{{ dream.description }}</p>
                </div>
                <div class="tab-pane fade show pt-4 px-3" id="nav-funders" role="tabpanel"
                     aria-labelledby="nav-funders" tabindex="0">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
